<div class="container" id="home">
  <div class="home-banner">

    <div class="desc">
      <h1>What makes you happy?</h1>
    </div>



<!--     <div class="post">
      <%#= form_for(@post) do |f| %>
      <%#= f.label :post %>
      <%#= f.text_field :post %>
      <%#= f.submit %>
      <%# end %>
    </div> -->
    </div>

</div>

<!-- <div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <#%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
    </div>
  </div>
</div>
